.card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  border: 1px solid var(--gray-color);
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.image {
    display: block;
    margin: -15px 0;
}

.card h3 {
  font-size: 1.3rem;
}

.title {
  background-color: var(--primary-color);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.description {
  padding: 15px;
  color: var(--dark-color);
  min-height: 80px;
  border-bottom: 1px solid var(--gray-color);
  flex: 1;
}

.specs {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  border-bottom: 1px solid var(--gray-color);
}

.specs span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.price {
  padding: 15px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price + .price {
  padding: 5px 15px 15px 15px;
}

.price + .price span {
  font-size: 1rem;
  font-weight: 500;
}

.price span {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary-color);
}

.price button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.price button:hover {
  background-color: #e05d00;
}

@media (max-width: 576px) {
  .description {
    padding: 5px 15px;
  }

  .specs {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .price button {
    padding: 10px 45px;
  }
}