
.featuredProducts {
  background-color: white;
}

.productsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 40px;
}

@media (max-width: 992px) {
  .productsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 576px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}